body{

font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
    color: goldenrod;
}
.focus{
    color: brown;
}
.time{
    color: indianred;
}
.mission{
    color: crimson;
}
.flexible-container{
    display: flex;
}
.stay-us{
    width: 70%;
    padding: 10%;
}
.stay-us img{
    width: 100%;

}
.input{
    border-left: 4px solid;
    border-color: red;
    border-image-slice: 1;
    border-radius: 3px;
    padding-left: 2%;
}
.explore-now{
    color: white;
    background-color: red;
    height: 30px;
    width: 30%;
    border: 2px solid red;
    border-radius: 5px;
    padding-left: 30px;
    padding-top: 7px;
}
.font{
    font-size: 60px;
    color:orangered;
    text-align: center;
}
.read{
    color: brown;
}
.goal{
    border-radius: 40px;
    background-color: lightgrey;
    width: 35%;
    height: 500px;
    padding-left: 2%;
    padding-right:2%;
    margin-right: 10%;

}
.fresh{
    border-radius: 40px;
    background-color:lightsalmon;
    width: 35%;
    height: 500px;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
}
.hope{
    border-radius: 40px;
    background-color:lightskyblue;
    width: 35%;
    height: 500px;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 10%;

}

.goal-have img{
    width: 70%;
    
}
.work{
    color:purple;
}
.stay-with{
    width: 70%;
    margin-left: 9%;
    margin-top: 5%;
    
}
.stay-with img{
    width: 80%;
}
.blue{
    margin-right: 8%;
    margin-top: 8%;
}




